.unnamed1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #003399}
.black { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #000000; font-weight: bold}
.Red { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FF0000}
